In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

# Read data from mesa data: 
a = pd.read_excel("ONe6040_helm_update.xlsx")

In [2]:
r_cm = np.array(a["radius_cm"])
r_center = []

for i in range(r_cm.shape[0]-1):
    r_center.append((r_cm[i]+r_cm[i+1])/2)

r_center.append(r_cm[-1]/2)

In [3]:
rho = np.power(10,np.array(a["logRho"]))
temp = np.array(a["temperature"])
pressure = np.array(a['pressure'])

In [4]:
data = pd.DataFrame(columns = ['r_center [cm]'],data = r_center[::-1])
data['density [g/cm3]'] = rho[::-1]
data['temperature [K]'] = temp[::-1]
data['pressure'] = pressure[::-1]
data['neon-20'] = np.array(a['ne20'])[::-1]
data['oxygen-16'] =  np.array(a['o16'])[::-1]
data['oxygen-20'] =  np.array(a['o20'])[::-1]
data['magnesium-24'] =  np.array(a['mg24'])[::-1]
data['fluorine-20'] =  np.array(a['f20'])[::-1]
data['helium-4'] =  np.array(a['he4'])[::-1]
data['aluminum-27'] = 0.0
data['silicon-28'] =  np.array(a['si28'])[::-1]
data['sulfur-32'] = 0.0
data['phosphorus-31'] = 0.0
data['hydrogen-1'] =  np.array(a['h1'])[::-1]

In [5]:
data.head()

,r_center [cm],density [g/cm3],temperature [K],pressure,neon-20,oxygen-16,oxygen-20,magnesium-24,fluorine-20,helium-4,aluminum-27,silicon-28,sulfur-32,phosphorus-31,hydrogen-1
0,2113.473042,8.348568e+09,6.565855e+08,7.367388e+27,0.007297,0.599994,0.392705,4.964879e-16,2.021100e-09,8.924793e-23,0.0,0.000004,0.0,0.0,0.0
1,4305.738968,8.348568e+09,6.565856e+08,7.367388e+27,0.007297,0.599994,0.392705,4.964889e-16,2.021100e-09,8.924807e-23,0.0,0.000004,0.0,0.0,0.0
2,4421.925944,8.348568e+09,6.565856e+08,7.367388e+27,0.007297,0.599994,0.392705,4.964890e-16,2.021100e-09,8.924809e-23,0.0,0.000004,0.0,0.0,0.0
3,4495.428868,8.348568e+09,6.565856e+08,7.367388e+27,0.007297,0.599994,0.392705,4.964891e-16,2.021100e-09,8.924810e-23,0.0,0.000004,0.0,0.0,0.0
4,4558.056826,8.348568e+09,6.565856e+08,7.367388e+27,0.007297,0.599994,0.392705,4.964892e-16,2.021100e-09,8.924811e-23,0.0,0.000004,0.0,0.0,0.0

In [6]:
data.shape

(1901, 15)

In [8]:
f = open("ECSN-ONe6040-final.raw", "w")

header = '# npts = 1901\n# num of variables = 14\n# density\n# temperature\n# pressure\n# neon-20\n# oxygen-16\n# oxygen-20\n# magnesium-24\n# fluorine-20\n# helium-4\n# aluminum-27\n# silicon-28\n# sulfur-32\n# phosphorus-31\n# hydrogen-1\n'
f.write(header)

for i in range(1901):
    for j in data.columns:
        f.write(str(data[j][i]))
        f.write(' ')
    f.write('\n')
f.close()